header {
  margin: 0em auto;
  background: #ffffff;
  width: 100%;
  max-width: 78.75em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 0em;
  width: 100%;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
  align-items: center;
  @media (max-width: 640px) {
    flex-direction: column;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 25em;
    padding-left: 2.5em;
    @media (max-width: 768px) {
      padding: 0;
      justify-content: space-evenly;
      margin-bottom: 0.5em;
    }
    :nth-child(1) {
      color: #6a983c;
    }
    span {
      font-size: 0.75em;
      line-height: 1em;
    }
  }
  .pages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 25em;
    padding-right: 2em;

    @media (max-width: 768px) {
      padding: 0;
      justify-content: space-evenly;
    }
    a {
      font-size: 0.75em;
      line-height: 1em;
      color: #6a983c;
    }
  }
}

.below-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  margin-bottom: 1em;

  @media (max-width: 640px) {
    padding: 0.5em;
  }
  .search-profile {
    width: 62%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  .search {
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    border-radius: 0.75em;
    padding: 0.5em;
    width: 100%;
    max-width: 30em;
    display: flex;
    align-items: center;
    input {
      font-size: 0.875em;
      color: #a9a9a9;
      border: none;
      background-color: transparent;
      border-left: 1px solid #d1d1d1;
      outline: none;
      width: 100%;
      max-width: 20em;
      text-align: center;
    }

    svg {
      width: 3.375em;

      @media (max-width: 768px) {
        width: 1.5em;
        height: 1.5em;
      }
    }
    select {
      border: none;
      font: bold 1em Poppins;
      color: #151515;
      background: transparent;
      text-align: center;
      @media (max-width: 568px) {
        max-width: 2.5em;
      }
    }
  }
}

.user-icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
    width: 80px;
    padding-top: 5px;
  }
  svg {
    max-width: 1.5em;
    max-height: 1.5em;
    padding: 0.5em;
  }
  .products-in-basket {
    position: absolute;
    right: 1em;
    top: 1.5em;
    background: #e6704b;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.75em;
    height: 0.75em;
    width: 0.75em;
    padding: 0.2em 0.3em 0.4em 0.3em;
    text-align: center;
    color: #ffffff;
    font: 0.4em/1em;
    z-index: 2;
    @media (max-width: 768px) {
      top: 1.75em;
    }
  }
}
.categories {
  display: flex;
  background: #f9f9f9;
  padding: 1em 0em 1em 2em;
  justify-content: flex-start;

  @media (max-width: 1180px) {
    justify-content: space-evenly;
    padding: 1em 0em;
    margin-top: 1em;
  }
  select {
    width: 100%;
    max-width: 5em;
    margin-right: 1em;
    font: 500 clamp(0.75em, 2vw, 1em) / 1em Poppins;
    background: transparent;
    border: none;
    outline: none;
    white-space: pre-wrap;
    @media (max-width: 769px) {
      margin-right: 0;
      text-align: center;
      max-width: 6em;
    }
  }
}
