.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 75em;
  padding: 5em 2em 2em 2em;
  &.blog-page {
    padding: 3em 2em 1em 2em;
    @media (max-width: 1180px) {
      padding: 0;
    }
  }
  @media (max-width: 1180px) {
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
  }
  &.second {
    border-bottom: 1px solid #f9f9f9;
    padding: 3em 2em;
    @media (max-width: 1180px) {
      padding: 1em 0em;
    }
  }
  &.third {
    justify-content: space-evenly;
    padding: 2em 0em 0em 0em;
    max-width: 95em;
  }
}
main {
  background: #ffffff;
  margin: 0 auto;
  padding: 3em 0em 1em 0em;
  width: 100%;
  max-width: 1260px;
  @media (max-width: 768px) {
    padding: 0.5em 0em 0em 0em;
  }
}
